#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

form {
  width: 200px;
}

select,
input[type='text'] {
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid black;
  display: block;
  width: 100%;
}

label {
  font-size: 14px;
}

input[type='checkbox'] {
  margin-bottom: 10px;
}

.error {
  margin: 0;
  margin-bottom: 10px;
  color: red;
  font-size: 14px;
}

.name-list-item {
  display: flex;
  gap: 6px;
  margin-bottom: 10px;
}

.name-list-item > input {
  margin: 0;
  width: 140px;
}
